
# python

__pycache__/
*.pyc

# virtual env

.venv/
venv/

# IDE

.vscode/
.idea/

# latex

*.aux
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.log

# generated outputs

dist/
workspace/

# sandbox

tmp_compile/

# system

.DS_Store

docs/.generated/